body {
    /* font-family: 'Raleway', sans-serif !important; */
    /* font-family: 'Roboto', sans-serif !important; */
    /* font-family: 'Ubuntu+Mono', sans-serif !important; */
    font-family: 'Ubuntu', sans-serif !important;
    /* font-size: 110% !important; */
    /*line-height: 200% !important;*/
    transition: all 1s !important;
    filter: invert(.9) !important; 
    background: rgba(0,0,0,.5) !important; 
    /* background: rgba(200, 200, 200, .2) !important */
    /* background: #0e0e44 !important; */
}

/*:not(img):not(.button) { filter: invert(100%) } */

.fullheight {
    height-min: 800px !important;
}

/*filter: invert(100%) hue-rotate(180deg);*/
/*@media (prefers-color-scheme: dark) {*/
/*}*/

/*html.dark-mode {*/
/*    filter: invert(100%);*/
/*}*/

/*html.dark-mode img {*/
/*    filter: invert(100%);*/
/*}*/


.fullheight {
    height-min:800px !important;
}
/*#map { position:absolute; top:0; bottom:0; width:100%; }*/
#map { width:100%; height:400px; }
#mapgl { width:100%; height:500px; }
#localmap { width:100%; height:1000px; }


.alpha {
    background-color:rgba(250, 250, 250, .5) !important;    
    /*opacity:.5 !important;*/
}

.toast-container {
    /*filter: invert(.9) !important; */
}

.layout { 
    /*filter: invert(.9) !important; */
}
#mapid { 
  height: 500px !important;
  filter: drop-shadow(0px 0px 8px grey);    
}

#iron-router-progress {
    background-color : #7f4400;
    box-shadow       : 0 0 5px #7f4400;
}

#iron-router-progress.spinner:before {
    border-color : #7f4400;
}


.card .image {
     /*filter: invert(1) !important; */
}
.image {
     /*filter: invert(1) !important; */
}

.label, input, .input, .button, .progress, .text {
     /*filter: invert(1) !important; */
} 
::-webkit-scrollbar {
  width: 3px !important;
}

.largescroll::-webkit-scrollbar {
  width: 1px;
}

.largescroll{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:700px;
	/*max-height:85vh;*/
	padding-top: 1em;
	/*padding-left: 1em;*/
}

.topnav .item {
    /*border-radius: 15px !important;*/
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgrey;
  width: 1px !important;
}

.red.button {
    background-color:#DB2828 !important;
}
.orange.button {
    background-color:#FE9A76 !important;
}
.yellow.button {
    background-color:#FFD700 !important;
}
.olive.button {
    background-color:#32CD32 !important;
}
.green.button {
    background-color:#016936 !important;
}
.teal.button {
    background-color: #008080 !important;
}
.blue.button , .blue.segment{
    background-color: #0E6EB8 !important;
}
.violet.button {
    background-color:#EE82EE !important;
}
.purple.button {
    background-color:#B413EC !important;
}
.pink.button {
    background-color: #FF1493 !important;
}
.brown.button {
    background-color:#A52A2A !important;
}
.grey.button {
    background-color: #A0A0A0 !important;
}
.black.button {
    background-color:#000000 !important;
}






/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.lowercase {
    text-transform: lowercase !important;
}

.capitalize {
    text-transform: capitalize !important;
}

.italic {
    font-style: italic !important;
}
/* .negative td { */
.neg td {
  text-decoration: line-through;
}
.blacked {
    background-color: black !important;
    height: 100% !important;
}

.spaced {
    margin: 2px !important;
}


.vertical-text span {
  text-orientation: upright;
}

.youtube_view {
    /*filter: invert(.9) !important;*/
    /*border-radius: 10px !important; */
}

.rounded {
    /*border-radius: 15px !important; */
}

.spacer{
    height:10px !important;
}


.beer_section {
    border: 10px single black !important;
}

.add_model_doc {
    /* border-radius: 15px !important; */
}
.topnav > .image:hover {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.filter_row {
    padding: 0 !important;
    margin: 0 !important;
    z-index: 10000 !important;
}




/* @keyframes shadow-pulse
{
     0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
} */


/* @keyframes pulse {
    0% {
        transform: scale(0.8);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    }
    70% {
        transform: scale(1.3);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(0.8);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
} */




.checkin_header {
    font-size: 4em !important;
}
/* .menu > .item {
    border-radius:20px !important;
} */
.ui.popup {
    /* border-radius:10px !important; */
}
.ui.segment {
    /*border-radius:20px !important;*/
}
.card {
    /*border-radius:20px !important;*/
}
/* .menu > .item:hover { */
    /* filter: drop-shadow(0px 0px 5px rgba(100,100,100,.9)) !important; */
/* } */
/* .topnav > .item:hover {
    filter: drop-shadow(0px 0px 5px rgba(250,250,250,.9)) !important;
    transform: scale(1.1);
} */
/* .right.menu > .item:hover {
    filter: drop-shadow(0px 0px 5px rgba(250,250,250,.9)) !important;
    /* transform: rotate(10deg) scale(1.1); */
    /* transform: scale(1.1); */
/* } */
/* .menu > .item > .image:hover {
    filter: drop-shadow(0px 0px 5px rgba(250,250,250,.9)) !important;
    transform: rotate(10deg) scale(1.1);
} */

.image {
    transition: all .25s !important;
}

#topnav {
    /*border-radius: 0px 0px 0px 0px !important;*/
}
.hour_selected {
    /* outline: lightgreen solid 2px !important; */
    filter: drop-shadow(2px 2px 5px rgba(200,200,200,.7)) !important;
    /* transform: scale(1.05) !important; */
}

.menu {
    /* border-radius: 10px !important; */
    transition: background-color 3s ease !important;
}

/* #topnav > .item {
    transition: all .25s ease !important;
} */

.card {
    /* border-radius:10px !important; */
}

.image:not(.circular) {
    /* border-radius:10px !important; */
}


.global_container{
    transition: transform .25s; /* Animation */
    /* padding-top: 5em !important; */
    /* box-shadow: 0 2px 2px 2px rgba(50, 50, 100, 0.1) !important; */
}
.button:hover {
    transition: transform .2s; /* Animation */
    transform: scale(1.05) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    /*box-shadow: inset 0px 0px 10px 10px rgba(250,250,250,0.8);*/
}

.large_text {
    font-size: large !important;
}

.zoomer{
    transition: transform .2s; /* Animation */
    /* box-shadow: 0 2px 2px 2px rgba(50, 50, 100, 0.1) !important; */
}
.zoomer:hover {
    transition: transform .5s !important; /* Animation */
    /*border-radius: 15px !important;*/
    /*overflow:scroll !important;*/
    box-shadow: 0px 0px 10px 10px rgba(250,250,250,0.2);
    /*border-radius: 15px !important;*/
    filter: drop-shadow(0px 0px 5px 5px rgba(200,200,200,.7)) !important;
    transform: scale(1.1) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index:1000 !important;
}
.superzoomer:hover {
    transition: transform .5s !important; /* Animation */
    /*border-radius: 15px !important;*/
    /*overflow:scroll !important;*/
    box-shadow: 0px 0px 10px 10px rgba(250,250,250,0.8);
    /*border-radius: 15px !important;*/
    filter: drop-shadow(0px 0px 5px 5px rgba(200,200,200,.7)) !important;
    transform: scale(1.5) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index:1000 !important;
}
.zoomers{
    transition: transform .2s; /* Animation */
    /* box-shadow: 0 2px 2px 2px rgba(50, 50, 100, 0.1) !important; */
}
.zoomers:hover {
    transition: transform .3s !important; /* Animation */
    /*border-radius: 15px !important;*/
    /*overflow:scroll !important;*/
    /*box-shadow: inset 0px 0px 10px 10px rgba(250,250,250,0.8);*/
    /*border-radius: 15px !important;*/
    filter: drop-shadow(0px 0px 5px 5px rgba(200,200,200,.7)) !important;
    transform: scale(1..05) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index:1000 !important;
}

.checking_in_area {
    padding-top: 0px !important;
}
.checkin_toprow {
    padding-bottom: 0px !important;
}

.accordion {
    /*border-radius: 15px !important; */
    /* opacity: .8 !important; */
    background-color: rgba(255,255,255, 0.3) !important;
    padding:5px !important;
}

/* .menu .item {
    font-family: 'Abril Fatface', serif !important;
    font-size: 130% !important;
} */


.row>.column {
    padding-bottom: 1rem !important;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: green;
  background-color: white;
  padding: 30px 30px;
  /* border-radius: 10px; */
  font-size: 30px;
  line-height: 130%;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  height: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


.button:active {
    /*color: black !important;*/
    /*background-color: darkgrey !important; */
    /*box-shadow: inset 5px 5px 10px #333 !important; */
    /*transition: all 5s ease !important;*/
    /*border-radius: 15px !important;*/
    /*box-shadow: 2px 2px 2px 2px lightgrey !important; */
}
.item:active, .card:active, .accordion:active, .title:active, input:active {
    /*color: black !important;*/
    /*background-color: darkgrey !important; */
    /*box-shadow: inset 5px 5px 10px #333 !important; */
    /*transition: all 5s ease !important;*/
    transform: translate(0, 4px) !important; 
    
    /*border-radius: 15px !important;*/
    /*box-shadow: 5px 5px 5px 5px grey !important; */
}
.
{
    /*border-radius: 15px !important;*/
    /*color: black !important;*/
    /*background-color: darkgrey !important; */
    /*box-shadow: inset 5px 5px 10px #333 !important; */
}

.home_segment{
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    /* border-radius: 10px !important; */
    margin: 0px !important;
}

.invert{
    /*filter: invert(.9) !important; */
    /*background-color:black !important; */
     /*height: 100%; */
 } 

.red_flagged {
  border: 5px solid red !important;
  /* border-radius: 5px !important; */
  box-shadow: 0 4px 8px 0 rgb(220,20,60, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.yellow_flagged {
  border: 5px solid orange !important;
  /* border-radius: 5px !important; */
}

.green_flagged {
  border: 5px solid green;
  /* border-radius: 5px; */
}

.abril{
    font-family: 'Abril Fatface', serif !important;
}

.pointer{
    color: black !important;
}

.pointer:hover{
    cursor: pointer !important;
    /*font: black !important;*/
    /*-webkit-filter: drop-shadow(10px 10px 10px rgba(250,250,250, 1)) !important;*/
    /*filter: drop-shadow(10px 10px 10px rgba(250,250,250, 1)) !important;*/
}

.cancel:hover{
    cursor: cancel !important;
    /* -webkit-filter: drop-shadow(5px 5px 5px rgba(250,250,250, 1); */
    /* filter:         drop-shadow(5px 5px 5px rgba(250,250,250, 1); */
}

.profile_grid {
    position: absolute !important;
    top:0px;
    width:100%;
}
.checkin_page {
    position: absolute !important;
    top:50px;
    width:100%;
}
.item_background {
    background-attachment: fixed !important;
    position: absolute !important;
    background-size: cover !important;
    width: 100% !important;
    height: 100% !important;
    /*background-repeat: no-repeat !important ;*/
    /* max-height: 1000px !important; */
    /* top:0px; */
    /* filter: invert(1); */
    opacity: .5 !important;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
.checkin_banner {
    background-attachment: fixed !important;
    position: absolute !important;
    background-size: cover !important;
    width: 100% !important;
    /*background-repeat: no-repeat !important ;*/
    /* max-height: 1000px !important; */
    /* top:0px; */
    /* filter: invert(1); */
    opacity: .3 !important;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(250,250,250,1)), to(rgba(250,250,250,0)));
    mask-image: linear-gradient(to bottom, rgba(250,250,250,1), rgba(250,250,250,0));
}
.profile_banner {
    background-attachment: fixed !important;
    position: absolute !important;
    background-size: cover !important;
    width: 100% !important;
    /*background-repeat: no-repeat !important ;*/
    /* max-height: 1000px !important; */
    /* top:0px; */
    /* filter: invert(1); */
    opacity: .3 !important;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(250,250,250,1)), to(rgba(250,250,250,0)));
    mask-image: linear-gradient(to bottom, rgba(250,250,250,1), rgba(250,250,250,0));
}
.checkin_banner.darkmode {
    display: none !important;
}
.nav_banner {
    background-attachment: fixed !important;
    position: absolute !important;
    background-size: cover !important;
    width: 100% !important;
    /*background-repeat: no-repeat !important ;*/
    /* max-height: 1000px !important; */
    /* top:0px; */
    /* filter: invert(1); */
    opacity: .1 !important;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* body::selection{
    box-shadow: 0 5px 5px 2px red !important;
} */


.result:hover{
    box-shadow: inset 0 0 3px 3px rgba(200,200,200,1), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px 0 rgba(200,200,200,1) !important;
    background-color: rgba(250,250,250,0.9) !important;
    cursor: pointer !important;
}

.grgold {
    background-color: rgba(43, 33, 0, .9) !important;
}

.grtext {
    color: rgba(43, 33, 0, .9) !important;
}


input{
    /*border-radius: 15px !important;*/
}
input:not(.no_format){
    /*border-radius: 10px !important;*/
    margin-bottom: 3px !important;
    margin-top: 3px !important;
    /* font-size: 120% !important; */
    /* -moz-border-radius: 50px !important; */
    /* border-radius: 50px !important;
    /* -webkit-border-radius: 5px !important; */
    /* -moz-border-radius: 5px !important; */
    /*background: rgba(250, 250, 250, 0.9) !important;*/
    /*opacity: 1;*/
}

textarea{
    /* -webkit-border-radius: 10px !important; */
    /* border-radius: 10px !important; */
}
input.username_search{
    -webkit-border-radius: 25px !important;
    /*border-radius: 15px !important;*/
    font-size: 120% !important;
    /* margin-bottom: 5px !important;
    margin-top: 5px !important; */
    background: rgba(250, 250, 250, 0.9) !important;
    opacity: 1;
    border-width: 1px !important;
    border-color: #a67c00 !important;
    box-shadow: 0 2px 5px 2px rgba(50, 50, 100, 0.1) !important;
}

embed {
    max-width: 100% !important;
    width:100% !important;
    height:500px !important;
}

/* input.member_search{
    -webkit-border-radius: 25px !important; */
    /*border-radius: 15px !important;*/
    /*font-size: 150% !important;*/
    /* margin-bottom: 5px !important;
    margin-top: 5px !important; */
    /*background: rgba(250, 250, 250, 0.9) !important;*/
    /*opacity: 1;*/
    /*border-width: 1px !important;*/
    /*border-color: blue !important;*/
    /*box-shadow: 0 2px 5px 2px rgba(50, 50, 100, 0.1) !important;*/

/* input:focus, textarea:focus {
    background: rgba(250, 250, 250, 0.8) !important;
    font-size:110% !important;
    border-width: medium !important;
    box-shadow: 0 2px 5px 2px rgba(50, 50, 100, 0.1) !important;
} */


.shadowed{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2) !important;
}
.label:not(.no_format){
    /* -webkit-border-radius: 5px !important; */
    /* -moz-border-radius: 5px !important; */
    margin:2px !important;
    opacity:.9 !important;
    /*font-family: 'Ubuntu', sans-serif !important;*/
    /*border-radius: 15px !important; */
}

.disabled, .disabled.segment, .disabled.label{
    /* -webkit-border-radius: 5px !important; */
    /* -moz-border-radius: 5px !important; */
    opacity:.4 !important;
    /* border-radius: 10px !important; */
}

.segment {
     /*border-radius: 15px !important;*/
    /*padding:40px!important;*/
}

.button {
    margin:2px !important;
    
}


.button:not(.circular) {
    /* background-color: rgba(200, 200, 200, 1) !important; */
    /* box-shadow: 0 1px 1px 1px rgba(50, 50, 100, 0.1) !important; */
    margin:2px !important;
    font-weight: bold !important;
    text-size: bold !important;
    font-size: 110% !important;

    /* background-color: rgba(250,250,250,1) !important; */
    /*border-radius: 15px !important;*/
    /*border: solid !important;*/
    /*border-width: 1px !important;*/
    /*border-color: lightgrey !important;*/
}

.button:active, .card:active{
    /* background-color: rgba(150, 150, 150, 1) !important; */
    /*background-color: rgba(17, 2, 100, 0.7) !important;*/
    /*box-shadow: 0 1px 1px 1px rgba(50, 50, 100, 0.1) !important;*/
    /* background-color: rgba(50, 50, 50, .9) !important; */
    /*color: white !important;*/
    transform: translate(0, 4px) !important; 
}
.button.green {
    /* background-color: rgba(200, 200, 200, 1) !important; */
    /* box-shadow: 0 1px 1px 1px rgba(50, 50, 100, 0.1) !important; */
    background-color: darkgreen !important;
    color: white !important;
    /* transform: translate(0, 4px); */
}
.button.red {
    /* background-color: rgba(200, 200, 200, 1) !important; */
    /* box-shadow: 0 1px 1px 1px rgba(50, 50, 100, 0.1) !important; */
    background-color: darkred !important;
    color: white !important;
    /* transform: translate(0, 4px); */
}
.button.teal {
    /* background-color: rgba(200, 200, 200, 1) !important; */
    /* box-shadow: 0 1px 1px 1px rgba(50, 50, 100, 0.1) !important; */
    background-color: teal !important;
    color: white !important;
    /* transform: translate(0, 4px); */
}
.button.orange {
    /* background-color: rgba(200, 200, 200, 1) !important; */
    /* box-shadow: 0 1px 1px 1px rgba(50, 50, 100, 0.1) !important; */
    background-color: darkorange !important;
    color: white !important;
    /* transform: translate(0, 4px); */
}
.button.pink {
    /* background-color: rgba(200, 200, 200, 1) !important; */
    /* box-shadow: 0 1px 1px 1px rgba(50, 50, 100, 0.1) !important; */
    background-color: pink !important;
    color: white !important;
    /* transform: translate(0, 4px); */
}
.button.blue {
    /* background-color: rgba(200, 200, 200, 1) !important; */
    /* box-shadow: 0 1px 1px 1px rgba(50, 50, 100, 0.1) !important; */
    background-color: navy !important;
    color: white !important;
    /* transform: translate(0, 4px); */
}

.button:hover {
    /* background-color: rgba(200, 200, 200, 1) !important; */
    /* box-shadow: 0 0px 2px 1px rgba(50, 50, 100, 0.2) !important; */
    /* background-color: rgba(43, 33, 0, .9) !important; */
    /* color: white !important; */
    /* transform: translate(0, 4px); */
}


/* .button:active {
    -webkit-box-shadow:
        0px 3px rgba(128,128,128,1),
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 10px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
} */

.button:active{
    -webkit-transform: translate(0, 5px) !important; /* depth of button press */
    transform: translate(0, 5px) !important; /* depth of button press */
}




.cloud {
    opacity: 0.9;
    /* -webkit-border-radius: 15px !important; */
    /* -moz-border-radius: 15px !important; */
    /* border-radius: 15px !important; */
}


.banner_image {
    /* opacity: 0.9; */
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    background-repeat: no-repeat;
    background-attachment: fixed
}


.button, .selector, .card, body, .item{
    animation: fadein 1s;
    /* -webkit-transition: opacity 2s ease-out; */
    /* animation: fadeout 1s; */
}
.global_container {
    padding-left:5px !important;
}

.spinning{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: thin white !important;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

@keyframes fadeout {
  from { opacity: 1}
  to   { opacity: 0}
}


.inline {
  display:inline !important;
  padding-right: 5px !important;
  margin-right: 0px !important;
  /* margin: .5em !important;2 */
}

.ui.header{
    /* font-family: 'Raleway', sans-serif !important; */
    /* font-family: 'Roboto', sans-serif !important; */
    /* font-family: 'Ubuntu+Mono', sans-serif !important; */
    font-family: 'Ubuntu', sans-serif !important;
}
h1.ui.header{
    /* font-family: 'Ubuntu', sans-serif !important; */
    /* font-family: 'Lusitana', serif !important; */
    /* font-size: 300% !important; */
    /* color: #5a4400 !important; */

    /* font-weight: lighter !important; */
}
.new_hc_session{
    /* font-family: 'Ubuntu', sans-serif !important; */
    /* font-family: 'Abril Fatface', serif !important; */
    font-size: 200% !important;
    /* color: #5a4400 !important; */
    /* font-weight: 200px !important; */
}
/* a { */
  /* font-family: 'Ubuntu', sans-serif !important; */
/* } */
/* .card a.header {
  color: #482d1b !important;
} */
/* .ui.button .ui.label {
  font-family: 'Ubuntu', sans-serif !important;
} */

.label {
  animation: fadein 1s;
}
.segment{
  animation: fadein 1s;
}

.icon.item {
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

#main {
  animation: fadein 1s;
}
.result_column {
  animation: fadein 1s;
}

@media screen and (max-width: 1100px) {
  .overlay-text {
    top: 550px;
  }
  .overlay-text-subheader {
    top: 290px;
  }
}

.secnav {
    opacity: .9 !important;
    max-width: 100% !important;
	overflow-y:hidden;
	overflow-x:scroll;
    /* margin-left: .3em !important;
    margin-right: .3em !important; */
}

/* .button {
    margin: 2em !important;
} */


/* .ui.button.ui.input .ui.large.label {
	 margin: 0.2em !important;
} */


.menu > .ui.button{
	 /*margin_top: 2em !important;*/
}

.menu > .item:active{
    transform: translate(0, 4px); 
}



@media screen and (max-width: 1100px) {
  .header-logo {
    margin: auto !important;
    display: block;
  }
  .red-nav-bar {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .overlay-text {
    top: 250px;
  }
  .overlay-text-subheader {
    top: 270px;
  }
}
@media screen and (min-width: 1100px) {
  .header-logo {
    padding: 0;
    margin: -36 !important;
    position: absolute;
    top: 0;
    left: 112px;
    z-index: 1030;
  }
  .red-nav-bar {
    margin-top: 90px;
    margin-bottom: 5px;
  }
  .overlay-text {
    top: 200px;
  }
  .overlay-text-subheader {
    top: 220px;
  }
  .event-header {
    bottom: 0;
  }
}
.map-container {
  max-width: 100%;
  height: 300px;
}
.large-text {
  font-size: large;
  line-height: 140%;
}
.center-aligned {
  text-align: center;
}
.overlay-text {
  color: #f8f8ff;
  background: #89131f;
  padding: 10px;
  font-size: 2.5em !important;
  font-weight: 300 !important;
}
.header-wrapper {
    /* z-index: 0 !important; */
  /* position: absolute;
  top:0px;
  width: 100%;
  min-width: 100%;
  min-height:100%; */
  /* background-color:white; */
}
.middle-align {
  vertical-align: middle !important;
}
.banner-text {
  left: 0px;
  font-size: 225%;
}
.footer {
    /* position: absolute; */
    height: auto;
    /* bottom: 0; */
}


.slider-header {
  color: #fff;
  padding: 10px;
  font-size: 3em !important;
}
.slider-subheader {
  color: #fff;
  padding: 10px;
}
/* @font-face {
  font-family: imogen;
  src: url("/fonts/ImogenAgnes.ttf");
}
@font-face {
  font-family: imogen_swash;
  src: url("/fonts/ImogenAgnesSwash.ttf");
}
@font-face {
  font-family: bat_white;
  src: url("/bat_white.ttf");
}
@font-face {
  font-family: bat_black;
  src: url("/bat_black.ttf");
} */
.big-header {
  font-size: 800% !important;
  padding: 20px;
}
.large {
  font-size: 130%;
  line-height: 130%;
}
.big {
  font-size: 200%;
  line-height: 120%;
}
.center {
  text-align: center;
}
.big-text {
  font-size: 500% !important;
  padding-bottom: 0.25em;
}
.large-text {
  font-size: 300% !important;
  padding-bottom: 0.25em;
}
.slider_header {
  font-size: 20em !important;
  color: #fff;
}
.uppercase {
  text-transform: uppercase;
}
/* Mobile */
@media only screen and (max-width: 767px) {
  .mobile.hidden,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .computer.hidden,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.hidden,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.hidden {
    display: none !important;
  }
}
#main {
    /* margin-top:20px; */
    min-height: 120vh;
    height: 100%;
    /* min-height: 500px; */
    /* bottom: 0; */
}
.scrolling{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:150vh;
	/*max-height:85vh;*/
	/*padding-top: 2em;*/
	/*padding-left: 1em;*/
}

.smallscroll{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:250px;
	/*max-height:85vh;*/
	padding-top: 1em;
	/*padding-left: 1em;*/
}
.smallcut{
	overflow-y:hidden;
	overflow-x:hidden;
	max-height:300px;
	/*max-height:85vh;*/
	padding-top: 1em;
	padding-left: 1em;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,.8)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,.8));
    /*background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(0,0,0)), color-stop(0.67, rgb(0,255,255)));*/
}

.smallcolumn{
	max-height:300px;
	/*max-height:85vh;*/
	padding-top: 1em;
	/*padding-left: 1em;*/
}

.mediumscroll{
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:600px;
	/*max-height:85vh;*/
	padding-top: 1em;
	/*padding-left: 1em;*/
}

.menuscroll{
	overflow-y:scroll;
	overflow-x:hidden;
	/* max-height:500px; */
	max-height:100vh;
    z-index: 1000 !important;
	/* padding-top: -1em !important;
	margin-top: -1em !important; */
	/*padding-left: 1em;*/
}


.card {
    opacity: .9 !important;
}

.scrolling::-webkit-scrollbar {
    display: none;
}
.smallscroll::-webkit-scrollbar {
    width: 2px;
}
.mediumscroll::-webkit-scrollbar {
    display: none;
}
.menuscroll::-webkit-scrollbar {
    width: 5px;
}
.hscroll::-webkit-scrollbar {
    display: none;
    /*height: 3px !important;*/
}


.hscroll{
	overflow-y:hidden;
	overflow-x:scroll;
	/*max-height:1000px;*/
	/*max-height:85vh;*/
    /* transition: background-color 3s; /* Animation */
    /* transition: height 1s; /* Animation */ */
    /* box-shadow: 0 2px 2px 2px rgba(50, 50, 100, 0.1) !important; */

    /* background-color: (250,250,250,.1) !important; */
	/* padding: 1em; */
    /* -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,.8))); */
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); */ */
}

.topnav::-webkit-scrollbar {
    height: 0px;
}

.secnav::-webkit-scrollbar {
    display: none;
    /* color:white !important;
    height:1px !important; */
}

.ui.progress {
    margin:0px !important;
}

.f13 {
  font-size: 400% !important;
  line-height: 120% !important;
  margin-bottom: 10px !important; }
.f12 {
  font-size: 300% !important;
  line-height: 120% !important;
  margin-bottom: 10px !important; }
.f11 {
  font-size: 250% !important;
  line-height: 120% !important;
  margin-bottom: 10px !important; }
.f10 {
  font-size: 200% !important;
  line-height: 120% !important;
  margin-bottom: 10px !important; }
.f9 {
  font-size: 180% !important;
  line-height: 120% !important;
  margin-bottom: 5px !important; }
.f8 {
  font-size: 160% !important;
  line-height: 160% !important; }
.f7 {
  font-size: 140% !important;
  line-height: 140% !important; }
.f6 {
  font-size: 120% !important;
  line-height: 120% !important; }
.f5 {
  font-size: 110% !important;
  line-height: 110% !important; }
.f4 {
  font-size: 100% !important;
  line-height: 100% !important; }
.f3 {
  font-size: 90% !important;
  line-height: 90% !important; }
.f2 {
  font-size: 70% !important;
  line-height: 70% !important; }
.f1 {
  font-size: 50% !important;
  line-height: 50% !important; }
.f0 { display:none; }